<div class="card">
  <div class="card-header">
Student Details
  </div>
  <div class="card-body">
    <p class="card-text">You can view Students details below</p>
    <a href="#" class="btn btn-primary">View Students Info</a>
  </div>
  <div class="card-footer text-muted">
    2 days ago
  </div>
</div>
<div class="card">
  <div class="card-header">
Faculty Details
  </div>
  <div class="card-body">
    <p class="card-text">You can view Faculty details below</p>
    <a href="#" class="btn btn-primary">View Faculty Info</a>
  </div>
  <div class="card-footer text-muted">
    2 days ago
  </div>
</div>
<div class="card">
  <div class="card-header">
Student Details
  </div>
  <div class="card-body">
    <p class="card-text">You can view Department details below</p>
    <a href="#" class="btn btn-primary">View Department Info</a>
  </div>
  <div class="card-footer text-muted">
    2 days ago
  </div>
</div>
<div class="card">
  <div class="card-header">
Student Details
  </div>
  <div class="card-body">
    <p class="card-text">You can Course details below</p>
    <a href="#" class="btn btn-primary">View Course Info</a>
  </div>
  <div class="card-footer text-muted">
    2 days ago
  </div>
</div>